# macOS system files
.DS_Store

# Python cache and virtual environments
__pycache__/
.local/
.cache/

# Jupyter notebook checkpoints
.ipynb_checkpoints/


.github
.config

# Miscenallenous files
.ipython
.jupyter
.bash_history